.search-buttons {
	text-align: center;
	margin-top: 1em;
}

.age-minmax.form-inline {
	input.form-control { width: 80px; }
}

.table .patient {
	.patient-info-masked { color: silver; }
	.patient-info-box {
		.sub { font-size: 80%; color: gray; }
		.patient-name { font-weight: bold; }
	}
}