.viewer-cluster {
	display: flex;
	flex-direction: column;
}

.viewer-row {
	display: flex;
	flex-direction: row;
}

.case-detail-header {
	display: flex;


}

.label-list {
	border: 1px solid gray;
	li {

	}
}

.label-list-opacity-dropdown {
	width: 100px;
}