.job-detail-header {
  flex: none;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}

.job-detail-main {
  padding: 10px;
}

.feedback-mode-switch {
  margin: 0.5em 0;
}

.feedback-register-panel {
  margin: 1em 0;
  text-align: right;
}
