.case-info {
  .collapser-body {
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.case-revision-data {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  &.busy {
    opacity: 0.5;
  }
}

.case-revision-main {
  flex: 1 0 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.case-label-buttons {
  padding-left: 20px;
  text-align: right;
}
