.case-detail-menu {
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: none;
  .left {
    padding: 3px;
  }
  .right {
    flex: 1000;
    text-align: right;
    padding: 3px;
  }
}

.revision-selector-item {
  > span {
    margin: 0 3px;
  }
  .description {
    font-weight: bold;
  }
}

.viewer-cluster {
  flex: auto;
  display: flex;
  flex-direction: column;
  background: #333;
}

.viewer-row {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &:first-child {
    margin-bottom: 2px;
  }
  min-height: 30px;
  .image-viewer {
    flex: 1 1 0;
    overflow: hidden;
    &:first-child {
      margin-right: 2px;
    }
  }
}

.case-info {
  .collapser-body {
    padding: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.case-detail-header {
  display: flex;
}

.case-series-list {
  padding-left: 0;
}

.case-series-list-item {
  list-style-type: none;
  cursor: pointer;
}

.case-revision-data {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  &.busy {
    opacity: 0.5;
  }
}

.case-revision-header {
  flex: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  > .labels {
    flex: 65%;
    .collapser-body {
      display: flex;
      > * {
        flex: 50%;
      }
      .label-attributes {
        padding: 0.3em;
      }
    }
  }
  > .case-attributes {
    flex: 35%;
  }
  > * {
    border-left: 1px solid silver;
    padding: 0;
    &:first-child {
      border-left: none;
    }
  }
}

.case-label-buttons {
  padding-left: 20px;
  text-align: right;
}

.case-label-list {
  margin: 0;
  padding-left: 0;
  &.active {
    background-color: silver;
  }
}

.label-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2em 10px;
  border-bottom: 1px solid silver;
  &:hover {
    background-color: #eeeeee;
  }
  &.active {
    background-color: silver;
    font-weight: bold;
  }
}

.label-list-opacity-dropdown {
  display: flex;
  align-items: center;
}

.slider.opacity-slider {
  width: 100px;
}

.case-detail-toolbar {
  flex: none;
  background-color: #222;
  color: white;
  button {
    height: 40px;
    padding: 0 10px;
    font-size: 170%;
    &.dropdown-toggle {
      font-size: 100%;
    }
  }
}
