@import 'highlight-colorful.css';

h1, h2, h3, h4, h5, h6, li, dt, dd, p, blockquote {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Kaku Gothic ProN", "メイリオ", Yu Gothis, Meiryo, sans-serif
}

aside {
	padding-top: 1em;
}

article h1 {
	font-weight: bolder;
	margin: 1em 0;
	color: #444;
	text-shadow: 1px 1px 5px #aaa;
}

article h2 {
	margin-top: 2em;
	border-bottom: 1px solid #ccc;
}

article h3 {
	margin: 1.5em 0;
}

article .tip {
	font-size: 80%;
	color: gray;
	border-left: 2px solid gray;
	padding-left: 10px;
}

article .language-html pre {
	background: #eef5ee;
}

div.live-demo .result {
	margin: 0.5em 0;
	padding: 1em;
	border: 1px solid #ecc;
}

article dd { margin-left: 30px; }
