@import 'highlight-colorful.css';

aside {
	padding-top: 1em;
}

article h1 {
	font-weight: bolder;
	margin: 1em 0;
}

article h2 {
	margin-top: 2em;
	border-bottom: 1px solid #ccc;
}

div.live-demo .result {
	margin: 0.5em 0;
	padding: 1em;
	border: 1px solid #ecc;
}
