@font-face {
  font-family: 'circus-db-font';
  src: url('../../assets/icons/circus-db-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'circus-rs-font';
  src: url('../../assets/icons/circus-rs-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='circus-icon-'],
[class*=' circus-icon-'] {
  font-family: 'circus-db-font';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

[class^='rs-icon-'],
[class*=' rs-icon-'] {
  font-family: 'circus-rs-font';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@import '../../assets/icons/circus-db-font-glyphs.less';
@import '../../assets/icons/circus-rs-font-glyphs.less';
