// Import Bootstrap as our primary CSS framework
@import 'bootstrap.less';

// Common variables
@brand-dark: darken(@brand-primary, 10%);
@highlight-color: #fd3164;

.pagination {
  margin: 0;
}

.container h1 {
  margin: 15px 0 20px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid silver;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.alert {
  animation: fadeIn linear 0.5s;
}

@import 'fonts.less';

@import '../pages/Application.less';
@import '../pages/LoginScreen.less';
@import '../pages/search/search.less';
@import '../pages/HomePage.less';
@import '../pages/admin/admin.less';
@import '../pages/case-detail/CaseDetail.less';
@import '../pages/SeriesDetail.less';

@import '../components/Collapser.less';
@import '../components/DataGrid.less';
@import '../components/FileDroppable.less';
@import '../components/FileUpload.less';
@import '../components/ProjectIcon.less';
@import '../components/PatientInfoBox.less';
@import '../components/SearchResultsView.less';
@import '../components/Tag.less';
@import '../components/TaskWatcher.less';
