@charset "utf-8";
/* CSS Document */

body.mode_black{background:#000; color:#eee;}
body.mode_white{background:#fff; color:#404040;}

body.mode_black a{color:#168477;}
body.mode_white a{color:#168477;}

body.mode_black a.common_btn,body.mode_black a.common_btn:hover,
body.mode_white a.common_btn,body.mode_white a.common_btn:hover{color:#fff;}

body.mode_black a:hover{color:#FD3164;}
body.mode_white a:hover{color:#FD3164;}

body.mode_black .page_ttl{border-color:#D3CCC2;}
body.mode_white .page_ttl{border-color:#D3CCC2;}

body.mode_black .common_table{color:#404040;}

.font_red{color:#FD3164;}
body.mode_black #page_admin_home .cell_ttl{color:#404040;}
body.mode_black #layer_panel{color:#404040;}

body.mode_black .label_select_wrap{color:#404040;}
body.mode_black .droppable_area{color:#404040;}

body.mode_black .error_area{color:#404040;}
body.mode_black .info_area{color:#404040; background:#CCC;}
body.mode_black .label_attr_area{color:#404040;}