@charset "utf-8";
/* CSS Document */

/*
	全ページ共通 カラースキーム
	現在は開発上の利便性・視認性の維持のためcssは独立しておりますが
	ある程度機能・使用がfixしてきた段階で common.css の末尾に合流して通信リクエスト数を節約します。

*/

body.mode_black{background:#000; color:#eee;}
body.mode_white{background:#fff; color:#404040;}

body.mode_black a{color:#168477;}
body.mode_white a{color:#168477;}

body.mode_black a.common_btn,body.mode_black a.common_btn:hover,
body.mode_white a.common_btn,body.mode_white a.common_btn:hover{color:#fff;}

body.mode_black a:hover{color:#FD3164;}
body.mode_white a:hover{color:#FD3164;}

body.mode_black .page_ttl{border-color:#D3CCC2;}
body.mode_white .page_ttl{border-color:#D3CCC2;}

body.mode_black .common_table{color:#404040;}


.font_red{color:#FD3164;}
body.mode_black #page_admin_home .cell_ttl{color:#404040;}
body.mode_black #layer_panel{color:#404040;}