@charset "utf-8";

*{margin:0; padding:0;}
body{ width:100%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; word-break:break-all;  word-wrap:break-word; font-size:0.9em; line-height:1.8em; margin:0; background-color: white; }
select,input,button{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; word-break:keep-all;  word-wrap:normal; font-size:1em;}
li{list-style:none;}
img{border:none;}
.text_limit{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -webkit-text-overflow:ellipsis; -o-text-overflow:ellipsis; width:100%;}
a:hover{text-decoration:none;}

#wrapper{width:100%; position:relative;}
.page_contents { width:1048px; min-height: 500px; margin:0 auto; text-align:left; position:relative; }
.page_title{ border-bottom: 1px solid #d3ccc2; font-size:1.4em; margin-bottom:10px; height:40px; line-height:40px; text-align:left;}
.con_ttl{text-align:left; margin-bottom:5px; font-size:1.2em;}
.submit_area{padding:10px 0; text-align:center;}
.white_table{width:100%; margin:0 auto; border-collapse: collapse;}
.search_form_wrap{padding:20px; background:rgba(255,255,255,0.5); color:#404040; border:2px solid #d0e6e4;}

/* Navigation bar */
#header { margin:0 auto 15px; height: 40px; position: relative; background-color: #166a5d; border-bottom: 1px solid #0e372c; line-height: 40px; z-index: 2000; color: white; }
#header img.header_logo { width: 120px; height: 30px; vertical-align: middle; margin-right: 10px; }
#header nav { text-align: left; }
#header #main_nav { float: left; }
#header #sub_nav { float: right; }
#header nav a { display: inline-block; height: 40px; color: white; text-decoration: none; padding: 0 5px; }
#header nav >ul >li:hover >a { background-color: #168477; color: #FD3164; }
#header nav >ul >li { float: left; position: relative; }
#header nav >ul >li a >span { font-size: 30px; vertical-align: middle; }
#header nav >ul >li >ul { display: none; position: absolute; top: 40px; left: 0; background-color: #eee; border: 1px solid #bbb; }
#header nav >ul >li:hover >ul { display: block; }
#header nav >ul >li >ul >li { display: block; width: 200px; border-bottom: 1px solid #bbb; }
#header nav >ul >li >ul >li a { display: block; color: black; height: 30px; line-height: 30px; }
#header nav >ul >li >ul >li a:hover { background-color: #168477; color: white; }
#header #user_info { font-weight: bold; margin-right: 10px; }
#header a#color_switch { display: inline-block; cursor: pointer; width: 20px; height: 20px; border-radius: 3px; border: 2px solid green; vertical-align: middle; }
body.mode_white #color_switch { background-color: black!important; }
body.mode_black #color_switch { background-color: white!important; }

@media screen and	(max-width: 1000px){
    #header nav a { display: inline-block; height: 40px; color: white; text-decoration: none; padding: 0 5px; }
    #header nav >ul >li.icon_menu > a { max-width: 30px; overflow: hidden; }
}

/* Color themes */
body.mode_black { background:#000; color:#eee; }
body.mode_white { background:#fff; color:#404040; }

body.mode_black a { color: #168477; }
body.mode_white a { color: #168477; }

body.mode_black a:hover { color:#FD3164; }
body.mode_white a:hover { color:#FD3164; }

body.mode_black .common_table{ color:#404040; }

body.mode_black .label_select_wrap{ color:#404040; }

body.mode_black .error_area{ color:#404040; }
body.mode_black .info_area{ color:#404040; background:#CCC; }
body.mode_black .label_attr_area{ color:#404040; }


/* large menu */
ul.column_menu { margin: 20px 0; word-break: normal; }
ul.column_menu >li { display: inline-block; text-align: center; margin-right: 30px; width: 300px; vertical-align: top; }
ul.column_menu >li div.img >span { font-size: 160px; vertical-align: bottom; }
ul.column_menu >li >a { display: block; border-radius: 10px; background-color: white; text-decoration: none; font-size: 24px; font-weight: bolder; padding: 16px 0; }
ul.column_menu >li >a:hover { background-color: #d0e6e4; }

/* Misc */

.font_red{color:#FD3164;}

.common_pager{clear:both;}
.pager_btn{text-align:center; display:block; margin-right:5px; float:left;}
.pager_btn a{text-decoration:none; display:block; border:1px solid #168477; padding:0 10px;}
.pager_btn a:hover{border-color:#FD3164;}
.common_pager .pager_btn.current_page{background:#000; border:1px solid #fff; color:#fff; padding:0 10px;}
.common_pager .pager_disp_num,
.common_pager .pager_sort_order_by,
.common_pager .pager_sort_order{width:120px; float:right; margin-left:5px;}

.common_table{width:100%; margin:0 auto; border-collapse: collapse;}
.common_table td,.common_table th{border:1px solid #999; padding:8px;}
.common_table th{background-color:#eee;}
.common_table td{ background:#fff;}
.common_table_light{width:100%; margin:0 auto; border-collapse: collapse;}
.common_table_light td,.common_table_light th{border-bottom:1px solid #ccc; padding:10px;}
.common_input_text{padding:8px 0; font-size:1.2em; background:#d0e6e4; border:none; text-indent:8px;}
input[type="password"]{font-family:Verdana, sans-serif; font-size:1.5em; line-height:0.8em; }

.common_btn{padding:4px; border:none; cursor:pointer; display:inline-block; text-decoration:none; text-align:center; border:none;background:#168477; color:#fff!important; line-height:1.5em;}
.common_btn:hover{background:#FD3164; color:#fff;}
.common_btn.disabled,.common_btn[disabled]{background-color:#aaa; color:#666; cursor:default;}
.common_select{padding-top:4px; padding-bottom:4px;}

#ui-datepicker-div {display: none;}

.task-watcher { padding: 15px; border: 1px solid #168477; }
.task-watcher .task-watcher-title { font-weight: bold; color: #168477; }

.tag { display: inline-block; border-radius: 3px; margin-left: 1px; margin-right: 1px; padding: 0 3px; font-weight: bold; font-size: 80%; }

/* Color Pickers */
div.color-picker { border: 1px solid #888; position: absolute; left: 0px; top: 0px; padding: 0px; z-index:1000;}
div.color-picker > ul { list-style: none; padding: 0px; margin: 0px; float: left; }
div.color-picker > ul > li { display: block; width: 15px; height: 15px; border: 1px solid #fff; margin: 0px; float: left; cursor: pointer; }
div.color-picker > ul > li:hover { border-color: black; }
