@charset "utf-8";

/*around imageviewer*/

.ico_delete_label,
.ico_now_draw,
.visible_check_wrap{width:30px; height:30px; display:block; cursor:pointer; background-image:url(../img/common/label-icon-sprite.png); text-indent:-9999px;}

.visible_check_wrap{ float:left; margin-right:3px; background-repeat:no-repeat; background-position:0 -30px;}
.visible .visible_check_wrap{background-position:0	-60px;}
.ico_delete_label{float:right; cursor:pointer; background-position:0 0;}
.ico_now_draw{background-position:0	-120px; margin-left:3px; float:right;}
.label_txt{width:75px; float:left; display:block; overflow:hidden; height:30px; line-height:30px;}

.label_select_wrap{background:#ccc; width:305px; padding:5px 0;}
.label_select_list{margin:0 1px 0 20px;}
.label_select_cell{background:#eee; margin-bottom:2px; padding:3px 3px 2px; line-height:30px;}
.label_select_cell:hover{background:#ddd;}
.label_info_wrap{width:340px; float:left; margin-bottom:10px; background:#ccc;}
.label_info{padding:10px; background:#ccc;}
.label_info .label_title{width:100%; display:block; margin-bottom:6px;}
.label_info .label_description{width:100%; display:block; resize:vertical;}
.label_info .label_title[readonly],
.label_info .label_description[readonly]{background:#ddd; color:#333;}

.now_draw{background:#ddd;}
.now_draw:hover{color:#FD3164;}
.now_draw .ico_now_draw{background-position:0	-90px;}

.alpha_label{width:60px; float:left; text-align:center; display:block; }
.control_panel .alpha_change{width:30px; padding:0; height:26px; line-height:26px;background:rgba(0,0,0,0);}
.control_panel .info_area{width:300px; float:left; background:#ccc; margin-right:10px;}

.control_panel .add_label{cursor:pointer; text-align:center; padding:10px; background:#ddd; margin:0 5px;}
.control_panel .add_label:hover{color:#FD3164;}


#page_series_detail #the_panel .img_toolbar_wrap{width:100%;}
#page_series_detail .img_toolbar_wrap{margin:0;}
#page_series_detail #the_panel_inner{position:relative; left:0;}
#page_series_detail .info_area{background:#ddd;}
#page_series_detail .info_area .elm_name{width:120px; float:left; font-weight:bold;}
#page_series_detail .info_area .elm_value{width:350px; float:right;}
#page_series_detail .info_area li:after {  content: "."; display: block; height: 0; clear: both; visibility: hidden;}
#page_series_detail .info_area li { display: inline-table;}


/*series import*/
#page_series_import .droppable_area{background:#eee; border:1px solid #ccc; padding:40px; margin:0 100px;}
#page_series_import .droppable_area.active{border-color: red;}


/*case input*/
#series_order_wrap .disp_series_list li{background:#eee; margin-bottom:2px; cursor:pointer;margin-right:5px;}
#series_order_wrap .disp_series_list label{display:block; padding:5px;}

/* case detail*/

.label_select_wrap{float:left; margin-right:20px;}

.export_area .disp_label_list li{background:#eee; margin-bottom:2px; cursor:pointer;}
.export_area .disp_label_list input.export_labels{margin-right:5px;}
.export_area .disp_label_list label{display:block; padding:5px;}

@media screen and	(min-width:2500px){
	.control_panel_inner{position:absolute; top:0; left:-310px;}
	.control_panel .img_toolbar_wrap{margin:0 0 10px auto; width:60px;}
	.control_panel .toolbar_btn{float:left; width:30px;}
	.control_panel .toolbar_weight_wrap{text-align:center; clear:both; width:100%; padding:5px 0; cursor:pointer;}
 .toolbar_btn{border-bottom:1px solid #ccc;}
 .label_select_wrap{float:none; margin-right:0; margin-bottom:10px;}
 .label_info_wrap{padding-top:20px; float:none; width:305px; background:#ccc;}
 .label_info .label_description{width:100%; display:block;}
	.control_panel .info_area{width:100%; float:none; margin-bottom:10px;}
}
