@charset "utf-8";

#page_series_detail #the_panel .img_toolbar_wrap{width:100%;}
#page_series_detail .img_toolbar_wrap{margin:0;}
#page_series_detail #the_panel_inner{position:relative; left:0;}
#page_series_detail .info_area{background:#ddd;}
#page_series_detail .info_area .elm_name{width:120px; float:left; font-weight:bold;}
#page_series_detail .info_area .elm_value{width:350px; float:right;}
#page_series_detail .info_area li:after {  content: "."; display: block; height: 0; clear: both; visibility: hidden;  }
#page_series_detail .info_area li { display: inline-table; }


/*series import*/
#page_series_import .droppable_area{background:#eee; border:1px solid #ccc; padding:40px; margin:0 100px;}
#page_series_import .droppable_area.active{border-color: red;}


/*case input*/
#series_order_wrap .disp_series_list li{background:#eee; margin-bottom:2px; cursor:pointer;margin-right:5px;}
#series_order_wrap .disp_series_list label{display:block; padding:5px;}

/* Hides from IE-mac \*/
* html #page_series_detail .info_area li { height: 1%; }
#page_series_detail .info_area li { display: block; }
/* End hide from IE-mac */


/* case detail*/

.label_select_wrap{float:left; margin-right:20px;}

.export_area .disp_label_list li{background:#eee; margin-bottom:2px; cursor:pointer;}
.export_area .disp_label_list input.export_labels{margin-right:5px;}
.export_area .disp_label_list label{display:block; padding:5px;}

@media screen and	(min-width:2500px){
	.control_panel_inner{position:absolute; top:0; left:-310px;}
	.control_panel .img_toolbar_wrap{margin:0 0 10px auto; width:60px;}
	.control_panel .toolbar_btn{float:left; width:30px;}
	.control_panel .toolbar_weight_wrap{text-align:center; clear:both; width:100%; padding:5px 0; cursor:pointer;}
 .toolbar_btn{border-bottom:1px solid #ccc;}
 .label_select_wrap{float:none; margin-right:0; margin-bottom:10px;}
 .label_info_wrap{padding-top:20px; float:none; width:305px; background:#ccc;}
 .label_info .label_description{width:100%; display:block;}
	.control_panel .info_area{width:100%; float:none; margin-bottom:10px;}
}
