// Import Bootstrap as our primary CSS framework
@import "bootstrap.less";

// Common variables
@brand-dark: darken(@brand-primary, 10%);
@highlight-color: #fd3164;

.container h1 {
	margin: 10px 0 20px;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 2px solid silver;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.alert {
	animation: fadeIn linear 0.5s;
}

@import "../../assets/less/fonts.less";
@import (less) "../../../vendor/utrad-ical/circus-rs/dist/css/circus-rs.css";

@import "../pages/Application.less";
@import "../pages/LoginScreen.less";
@import "../pages/search/SeriesSearchCondition.less";
@import "../pages/search/SeriesSearchResults.less";
@import "../pages/search/SearchResultsView.less";
@import "../pages/HomePage.less";
@import "../pages/admin/AdminIndex.less";
@import "../pages/case-detail/CaseDetail.less";

@import "~rb/Calendar.less";
@import "~rb/RelativeDatePicker.less";

@import "../components/color-picker.less";
@import "../components/condition-editor.less";
@import "../components/file-droppable.less";
@import "../components/file-upload.less";
@import "../components/loading.less";
@import "../components/multiselect.less";
@import "../components/property-editor.less";
@import "../components/string-list-editor.less";
@import "../components/tag.less";
@import "../components/task-watcher.less";