// Import Bootstrap as our primary CSS framework
@import "bootstrap.less";

// Common variables
@brand-dark: darken(@brand-primary, 10%);
@highlight-color: #fd3164;

.container h1 {
	margin: 10px 0 20px;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 2px solid silver;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.alert {
	animation: fadeIn linear 0.5s;
}

@import "../../assets/less/fonts.less";

@import "../pages/app.less";
@import "../pages/login-screen.less";
@import "../pages/search/search-condition-series.less";
@import "../pages/search/search-results-series.less";
@import "../pages/search/search-results.less";
@import "../pages/home.less";
@import "../pages/admin/index.less";

@import "../components/calendar.less";
@import "../components/color-picker.less";
@import "../components/condition-editor.less";
@import "../components/daterange-picker.less";
@import "../components/file-droppable.less";
@import "../components/file-upload.less";
@import "../components/multiselect.less";
@import "../components/property-editor.less";
@import "../components/relative-datepicker.less";
@import "../components/string-list-editor.less";
@import "../components/tag.less";
@import "../components/task-watcher.less";
