@charset "utf-8";
/* CSS Document */

.ico_detail_sprite{background-image:url(../img/common/ico_detail_sprite.png); background-repeat:no-repeat; display:block; text-indent:-9999px; width:30px; height:30px;}
.ico_detail_sprite_pen{background-position:0 0;}
.ico_detail_sprite_pan{background-position:0 -30px;}
.ico_detail_sprite_resize_large{background-position:0 -60px;}
.ico_detail_sprite_resize_short{background-position:0 -90px;}
.ico_detail_sprite_window {background-position:0 -120px;}
.ico_detail_sprite_erase  {background-position:0 -240px;}
.ico_detail_sprite_measure{background-position:0 -390px;}
.ico_detail_sprite_bucket {background-position:0 -420px;}
.ico_detail_sprite_rotate {background-position:0 -450px;}
.ico_detail_sprite_guide  {background-position:0 -480px;}

.ico_delete_label{float:right; cursor:pointer; background-position:0	-210px;}
.ico_now_draw{background-position:0	-360px; margin-left:3px; float:right;}

.draw_back{background-position:0 -150px;}
.draw_redo{background-position:0 -180px;}
.draw_clear{background-position:0 -210px;}

.label_select_wrap{background:#ccc; width:305px; padding:5px 0;}
.label_select_list{margin:0 1px 0 20px;}
.label_select_cell{background:#eee; margin-bottom:2px; padding:3px 3px 2px; line-height:30px;}
.label_select_cell:hover{background:#ddd;}

.series_wrap{background:#bbb; margin:0 5px 5px;}
.series_wrap.active{background-color:#FFC;}
.series_name{padding:5px; font-weight:bold; cursor:pointer;}

.img_view_area .image_window_controller_wrap{background:rgba(0,0,0,0.75); position:absolute; bottom:0; left:0; text-align:left; color:#fff; z-index:200; width:512px; display:none;}
.img_view_area .image_window_controller{padding:5px;}
.img_view_area .image_window_controller_erase{width:32px; margin-left:480px; height:32px; margin-bottom:-32px; cursor:pointer; text-align:center;}

.image_window_controller{position:absolute; display:none; cursor:default; top:30px; left:35px; background:rgba(0,0,0,0.75); color:#fff; text-indent:0; z-index:1000; width:360px; text-align:left; padding-top:5px;}
.image_window_controller li{padding:0px 5px 5px;}
.image_window_controller_label{width:100px; display:inline-block;}
.image_window_controller .image_window_level,
.image_window_controller .image_window_width{width:75px; margin-right:5px; text-align:right;}
.image_window_controller .image_window_preset_select{width:250px;}
.img_view_area .img_area .image_window_controller_wrap{bottom:0; top:auto; width:auto; max-width:500px; padding:5px 0; margin-left:1px; z-index:450; display:block;}
.img_view_area .img_area .image_window_controller{display:none; position:relative; background:none; top:auto; width:100%; left:0;}

.ico_detail_sprite_window .btn_close{cursor:pointer; width:20px; height:20px; background-image:url(../img/common/panel_btn_sprite.png);background-repeat:no-repeat; background-position:0 0; display:block;}
.image_window_controller_wrap .btn_close,
.image_window_controller_wrap .btn_open{cursor:pointer;height:20px; background-image:url(../img/common/panel_btn_sprite.png);background-repeat:no-repeat;}
.image_window_controller_wrap .btn_open{background-position:0 0; display:block; padding-left:20px; padding-right:5px;}
.image_window_controller_wrap .btn_close{background-position:0 -20px; display:none; width:20px; }

.image_viewer_controller_loading_wrap{position:fixed; top:390px; left:50%;  display:none; margin-left:-110px;border:2px solid #333; width:229px; height:27px; z-index:1000; background:#fff; border-radius:5px;}
.image_viewer_controller_loading{background-image:url(../img/common/loading_bar.gif); background-repeat:no-repeat; background-position:center; width:229px; height:26px; display:block;}

.control_panel{width:100%; position:relative;}
.control_panel .color_picker{width:28px; height:28px; border:none; display:block; float:left; margin-right:3px; cursor:pointer; border:1px solid #ccc; text-indent:-9999px;}
.visible_check_wrap{width:30px; height:30px; display:block; float:left; margin-right:3px; text-indent:-9999px; cursor:pointer; background-image:url(../img/common/ico_detail_sprite.png); background-repeat:no-repeat; background-position:0 -270px;}
.visible .visible_check_wrap{background-position:0	-300px;}
.alpha_label{width:60px; float:left; text-align:center; display:block; }
.control_panel .alpha_change{width:30px; padding:0; height:26px; line-height:26px;baclkground:rgba(0,0,0,0);}
.control_panel .info_area{width:300px; float:left; background:#ccc; margin-right:10px;}
.img_toolbar_wrap{ background:#eee;}
.label_txt{width:75px; float:left; display:block; overflow:hidden; height:30px; line-height:30px;}

.label_info_wrap{width:340px; float:left; margin-bottom:10px; background:#ccc;}
.label_info{padding:10px; background:#ccc;}
.label_info .label_title{width:100%; display:block; margin-bottom:6px;}
.label_info .label_description{width:100%; display:block; resize:vertical;}
.label_info .label_title[readonly],
.label_info .label_description[readonly]{background:#ddd; color:#333;}

.now_draw{background:#ddd;}
.now_draw:hover{color:#FD3164;}
.now_draw .ico_now_draw{background-position:0	-330px;}

.control_panel .add_label{cursor:pointer; text-align:center; padding:10px; background:#ddd; margin:0 5px;}
.control_panel .add_label:hover{color:#FD3164;}
.toolbar_btn{text-align:center; border-bottom:none; cursor:pointer; float:left; position:relative;}
.toolbar_btn.active{background-color:#F90;}

.img_view_area .img_area{position:relative; width:512px; margin-bottom:20px;}
.img_view_area .img_area#panel_wrap{background:none;}
.img_view_area .img_wrap{position:relative; width:512px; overflow:hidden; background:#999; border-width:1px; border-style:solid; border-color:rgba(0,0,0,0);}
.img_view_area .main_img{position:absolute; z-index:10; width:512px; left:0; top:0; display:none;}
.img_view_area .canvas_elm{position:absolute; top:0; left:0; z-index:20; width:512px; display:block; image-rendering:optimizeSpeed; image-rendering:crisp-edges; image-rendering:-moz-crisp-edges; image-rendering:-o-crisp-edges; image-rendering:-webkit-optimize-speed; -ms-interpolation-mode:nearest-neighbor;}
.img_view_area .canvas_elm.series_image_elm{position:relative;}
.img_view_area .mouse_cover{width:512px; height:100%; position:absolute; left:0; top:0; z-index:200; background:rgba(0,0,0,0);}

.mode_rotate.slide_horizontal.slide_vertical .mouse_cover,
.mode_pan .mouse_cover{cursor:move;}
.mode_bucket .mouse_cover,
.mode_erase .mouse_cover,
.mode_measure .mouse_cover,
.mode_pen .mouse_cover{cursor:crosshair;}

.mode_rotate.slide_horizontal .mouse_cover{cursor:e-resize;}
.mode_rotate.slide_vertical .mouse_cover{cursor:s-resize;}

.mode_window .mouse_cover{cursor:pointer;}
.img_view_area.mode_image_window .mouse_cover{cursor:default;}
.img_view_area .img_wrap.now_move:active{cursor:all-scroll;}

.img_view_area .btn_prev,
.img_view_area .btn_next{width:50px; height:21px; padding:0; line-height:21px; cursor:pointer;}
.img_view_area .btn_prev{float:left; margin-right:13px;}
.img_view_area .btn_next{float:right;}
.img_view_area .slider_outer{width:388px; float:left; padding-top:5px;}
.img_view_area .slider_elm{margin-bottom:5px;}

.img_view_area .disp_num,
.img_view_area .disp_size{position:absolute;right:5px; text-shadow:-1px -1px #000,1px -1px #000,-1px 1px #000,1px 1px #000;; color:#FF0; padding:5px; z-index:100; text-align:center;}
.img_view_area .disp_num{top:5px;}
.img_view_area .disp_size{bottom:5px;}

.img_view_area .disp_measure{bottom:40px; padding:10px; position:absolute; right:5px; color:#FF0; z-index:100; display:none;}
.img_view_area .active.disp_measure{display:block;}

.img_wrap .img_toolbar_wrap{width:60px; position:absolute; top:0; left:0; margin-right:1px; z-index:500;}
.img_view_area .toolbar_btn:hover{filter:alpha(opacity=50); -moz-opacity:0.5;  opacity:0.5;}

.error_area{border:1px solid #c00; background:#FFF6FF;}
.error_area li{display:inline;}
.error_area .btn_close_error{width:100px; background:#fff; border:1px solid #ccc; margin:0 auto; cursor:pointer; text-align:center;}

#ui-datepicker-div{z-index:1500 !important;}

.toolbar_weight_wrap{width:60px; float:left; padding-top:3px; text-align:center;}
.ui-dialog{z-index:1000;}
