body {
	padding-bottom: 30px;
}

#toolbar-wrapper {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 99;
}
ul.circus-rs-toolbar {
  display: table;
  width: 100%;
  padding: 0;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item {
  display: table-cell;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item > button {
  background-color: #ccc;
  color: #000;
  width: 100%;
  display: block;
  font-size: 50%;
  text-align: center;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item > button:before {
  font-family: 'circus-rs-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.4;
  position: relative;
  left: -4px;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Window > button:before {
  content: '\e600';
}
ul.circus-rs-toolbar.Window-active > li.circus-rs-toolbar-item.Window > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Ruler > button:before {
  content: '\e601';
}
ul.circus-rs-toolbar.Ruler-active > li.circus-rs-toolbar-item.Ruler > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Brush > button:before {
  content: '\e602';
}
ul.circus-rs-toolbar.Brush-active > li.circus-rs-toolbar-item.Brush > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Eraser > button:before {
  content: '\e603';
}
ul.circus-rs-toolbar.Eraser-active > li.circus-rs-toolbar-item.Eraser > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Bucket > button:before {
  content: '\e604';
}
ul.circus-rs-toolbar.Bucket-active > li.circus-rs-toolbar-item.Bucket > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Undo > button:before {
  content: '\e605';
}
ul.circus-rs-toolbar.Undo-active > li.circus-rs-toolbar-item.Undo > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Redo > button:before {
  content: '\e606';
}
ul.circus-rs-toolbar.Redo-active > li.circus-rs-toolbar-item.Redo > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.Hand > button:before {
  content: '\e607';
}
ul.circus-rs-toolbar.Hand-active > li.circus-rs-toolbar-item.Hand > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.ReferenceRotate > button:before {
  content: '\e608';
}
ul.circus-rs-toolbar.ReferenceRotate-active > li.circus-rs-toolbar-item.ReferenceRotate > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.ReferenceMove > button:before {
  content: '\e609';
}
ul.circus-rs-toolbar.ReferenceMove-active > li.circus-rs-toolbar-item.ReferenceMove > button {
  background-color: #f60;
  color: #fff;
}
ul.circus-rs-toolbar > li.circus-rs-toolbar-item.CelestialRotate > button:before {
  content: '';
}
ul.circus-rs-toolbar.CelestialRotate-active > li.circus-rs-toolbar-item.CelestialRotate > button {
  background-color: #f60;
  color: #fff;
}
