name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]
      fail-fast: false

    services:
      mongodb:
        image: mongo:4.2.2-bionic
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Lerna and dependencies
        run: |
          npm ci
          npx lerna bootstrap --hoist
      - name: Pull dicom_utility from Docker Hub
        run: |
          docker pull hello-world
          docker pull circuscad/dicom_utility:2.0.0-beta3
          docker pull circuscad/dicom_voxel_dump:1.0.0
          docker tag circuscad/dicom_voxel_dump:1.0.0 circus/dicom_voxel_dump:1.0
          cd packages/circus-cs-core/test/docker
          node build.js
      - name: Build modules
        run: |
          npx lerna run build
      - name: Run test
        run: npm test
        env:
          CI: true
          CIRCUS_MONGO_TEST_URL: "mongodb://localhost:27017/circus-api-test"
